@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-100: hsl(233, 26%, 24%);
  --pri-110: hsl(136, 65%, 51%);
  --pri-120: hsl(192, 70%, 51%);

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-110: hsl(0, 0%, 98%);
  --neutral-120: hsl(220, 16%, 96%);
  --neutral-130: hsl(233, 8%, 62%);

  --fs-100: 18px;
  --fs-200: 40px;
  --fs-300: 16px;
  --fs-400: 16px;
  --fs-500: 32px;
  --fs-600: 16px;
  --fs-700: 18px;
  --fs-800: 16px;
  --fs-900: 32px;
  --fs-50: 14px;
  --fs-60: 14px;
  --fs-70: 10px;
  --fs-80: 16px;
  --fs-90: 14px;

  --ff-sans: "Public Sans", sans-serif;

  /* letter spacing     */
  --t-100: -0.8px;
  --t-200: -0.78px;
  --t-300: -0.6px;
  --t-400: 0.52px;
  --t-500: -0.3px;
  --t-600: -0.25px;
  --t-700: -0.14px;

  /* line height */
  --l-100: 1.2;
  --l-200: 1.3;
  --l-300: 1.5;
}
@media (min-width: 37rem) {
  :root {
    --fs-200: 32px;
    --fs-500: 32px;
  }
}

@media (min-width: 53rem) {
  :root {
    --fs-100: 16px;
    --fs-200: 40px;
    --fs-300: 18px;
    --fs-400: 14px;
    --fs-500: 40px;
    --fs-600: 18px;
    --fs-700: 24px;
    --fs-800: 18px;
    --fs-900: 40px;
    --fs-50: 14px;
    --fs-60: 14px;
    --fs-70: 10px;
    --fs-80: 16px;
    --fs-90: 14px;

    /* letter spacing     */
    --t-100: -0.8px;
    --t-200: -1.1px;
    --t-300: -0.26px;
    --t-400: -0.58px;
    --t-500: -0.3px;
    --t-600: -0.25px;
    --t-700: -0.14px;

    /* line height */
    --l-100: 1.2;
    --l-200: 1.3;
    --l-300: 1.5;
  }
}

@media (min-width: 100rem) {
  :root {
    --fs-100: 18px;
    --fs-200: 60px;
    --fs-300: 20px;
    --fs-400: 16px;
    --fs-500: 56px;
    --fs-600: 20px;
    --fs-700: 32px;
    --fs-800: 20px;
    --fs-900: 56px;
    --fs-50: 14px;
    --fs-60: 14px;
    --fs-70: 14px;
    --fs-80: 18px;
  }
}
body {
  min-height: 100vh;
  font-size: 1.125rem;
  width: 100%;
}
.top_left {
  background-position-y: -8rem;
}

@layer components {
  .pri-menu-underline {
    @apply relative after:absolute after:-bottom-7 after:left-0 after:w-full after:h-1 after:bg-gradient-to-r after:from-pri-110 after:to-pri-120 after:opacity-0 after:transition-opacity after:duration-700 hover:after:opacity-100;
  }
  .secondary-menu-underline {
    @apply hover:text-pri-110;
  }
}
